.app-title{
  text-align: center;
}
.search-container{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 1px solid blue;
}
.img-location{
  height: 50px;
  width: 50px;
  margin: 10px;
}
.input-city{
  height: 50px;
  width: 80%;
  border: none;
  font-size: 25px;
}
.input-city:focus{
  outline: none;
}
